
<div class="container-fluid h-100" [style.background]="colorService.backgroundColor">
  <div class="row justify-content-md-center">
    <div class="col-sm-2 mt-5">
      <img src="./../assets/img/aut-logo.png" id="logo">
    </div > 
    <div class="col-sm-3 pl-3" style="margin-top:70px">
        <h1 style="font-size: 40px;"><span class="bg-light">Welcome to AutTogether</span></h1>
        <h2 style="opacity: 0.5; font-style: italic;"><span class="bg-light">What can you expect from us? </span></h2>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-sm-5  p-4">
      <div class="tabContent inline-block text-center" style="border-radius: 50%;">
        <span  class="btn btn-light" id="changeMe" [cpPosition]="'bottom'" [cpPositionOffset]="'50%'" [cpPositionRelativeToArrow]="true" [(colorPicker)]="colorService.backgroundColor">Change me!</span>
        <span  id="circleColor" [style.background]="colorService.backgroundColor"></span>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-sm-5  bg-light">
      <app-login></app-login>
    </div>  
  </div>
</div>

